.articleContainer {
  margin: 0 0 50px 0;
  text-align: justify;
}
.articleContainer img {
  height: auto !important;
}
.articleContainer p {
  font-weight: 300;
}
.articleContainer .author-component {
  margin-bottom: 0;
  margin-left: 10px;
  color: #62707c;
}
.articleContainer .title-component {
  font-size: 42px;
  font-weight: 600;
}
.articleContainer p,
.articleContainer span {
  font-size: 22px;
  margin-bottom: 26px;
  font-family: 'Public Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.articleContainer .is-layout-flow {
  margin: 50px 0;
}
.articleContainer h1,
.articleContainer h2,
.articleContainer h3,
.articleContainer h4,
.articleContainer h5,
.articleContainer h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-bottom: 26px;
  font-size: 40px;
}

.articleContainer li,
.articleContainer article {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #272c30;
}
.articleContainer a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #5ab1bb !important;
}

.is-layout-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.is-layout-flex .wp-block-column {
  flex: 0 0 50%;
}
.has-white-color > p {
  color: #fff;
  font-weight: bold;
  padding-left: 20px;
}
@media screen and (max-width: 426px) {
  .is-layout-flex {
    display: block;
  }
}
